table {
    width: 100%;
    background-color: rgb(75, 75, 75);
    
    /* Adicione esta linha para mover a tabela para baixo */
    margin-top: 1000px; 
}

.edit > i{
    color: rgb(247, 247, 247);
}

.delete > i{
    color: rgb(255, 0, 98);
}

