.header{
    display: flex;
    align-items: center;
    background-color: #4E342E;

}

.header a {
    display: flex;
    align-items: center;
    text-decoration: none;

}

.header i{
    color: gold;
}

.header .logo {
    max-height: 32px;

}

.header .title-group{
    padding-left: 25px;

}

.header .title-group i {
    padding-right: 5px;

}