<mat-card>
    <mat-card-title>Novo Livro</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Editora" [(ngModel)]="livro.LiFornecedor" name="LiFornecedor">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Nome do livro" [(ngModel)]="livro.LiNome" name="LiNome">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="descrição do livro" [(ngModel)]="livro.LiDescricao" name="LiDescricao">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Avaliação" [(ngModel)]="livro.LiAvaliacao" name="LiAvaliacao">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Numero de paginas" [(ngModel)]="livro.LiNumeropagi" name="LiNumeropagi">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Idioma" [(ngModel)]="livro.LiIdioma" name="LiIdioma">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Data de publicação" [(ngModel)]="livro.LiDataPubli" name="LiDataPubli">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="dimenções (tamanho)" [(ngModel)]="livro.LiDimensoes" name="LiDimensoes">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Autor" [(ngModel)]="livro.LiAutor" name="LiAutor">
        </mat-form-field>
    </form>

    <button mat-raised-button (click)="createLivro()" color="primary">
        Salvar
    </button>
   
    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>

</mat-card>