.sidenav{
    background-color: #4E342E ;
    width: 200px;
}
.sidenav a{
    color: #FFD700;
}
.sidenav i{
    padding-right: 10px;
}

:host {
    display: flex;
    height: 100vh;
    background: #F5F5DC; /* Usa sua cor bege claro (#F5F5DC) */
  }
