<mat-sidenav-container class="container">
  <mat-sidenav class="sidenav" mode="side" opened fixedInViewport="true" fixedTopGap="64">
    <mat-nav-list class="nav-list">
      <span mat-subheader>Navega&ccedil;&atilde;o</span>
      <a mat-list-item routerLink="/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <mat-icon>insights</mat-icon>
        Vis&atilde;o geral
      </a>
      <a mat-list-item routerLink="/fpagamentos" routerLinkActive="active">
        <mat-icon>credit_card</mat-icon>
        Formas de pagamento
      </a>
      <a mat-list-item routerLink="/fornecedor" routerLinkActive="active">
        <mat-icon>storefront</mat-icon>
        Fornecedores
      </a>
      <a mat-list-item routerLink="/cliente" routerLinkActive="active">
        <mat-icon>diversity_3</mat-icon>
        Clientes
      </a>
      <a mat-list-item routerLink="/livro" routerLinkActive="active">
        <mat-icon>auto_stories</mat-icon>
        Livros
      </a>
      <a mat-list-item routerLink="/endereco/create" routerLinkActive="active">
        <mat-icon>home_pin</mat-icon>
        Endereço (criar)
      </a>
      <a mat-list-item routerLink="/emprestimos" routerLinkActive="active">
        <mat-icon>assignment</mat-icon>
        Empréstimos
      </a>
    </mat-nav-list>

    
  </mat-sidenav>

  <mat-sidenav-content class="content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>
