<mat-sidenav-container class="container">
    <mat-sidenav class="sidenav" mode="side" opened fixedInViewport="true" fixedTopGap="64">
        <mat-nav-list class="nav-list">
            <a mat-list-item routerLink="/">
                <i class="material-icons">
                    home
                </i>
                Início
            </a>
            <a mat-list-item routerLink="/fpagamentos">
                <i class="material-icons">
                    payments
                </i>
                Forma de Pagamento
            </a>
             <a mat-list-item routerLink="/produto">
                <i class="material-icons">
                    add_shopping_cart
                </i>
                Produto
            </a>
             <a mat-list-item routerLink="/fornecedor">
                <i class="material-icons">
                    <span class="material-symbols-outlined">
                        person_4
                        </span>
                </i>
                Fornecedores
            </a>
            <a mat-list-item routerLink="/cliente">
                <i class="material-icons">
                    man2
                </i>
                Cliente
            </a>
            <a mat-list-item routerLink="/livro">
                <i class="material-icons">
                    book_2
                </i>
                Livro
            </a>
            
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content">
        <!-- usamos para começar a trabalhar com a navegação a partir do clique... -->
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>