.botao-novo-livro {
    background-color: #B71C1C;
    color: #F5F5DC;
    font-weight: bold;
    border-radius: 8px;
    padding: 10px 20px;
    transition: all 0.3s ease;
  }
  
  .botao-novo-livro:hover {
    background-color: #FFD700;
    color: #4E342E;
    transform: scale(1.05);
  }
  
  .botao-novo-livro i.material-icons {
    vertical-align: middle;
    margin-right: 6px;
    font-size: 20px;
  }
  