<mat-card>
    <mat-card-title>Nova Forma de Pagamento</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Descrição" [(ngModel)]= "formaPagamento.descricao" name="descricao">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Tipo de pagamento" [(ngModel)]= "formaPagamento.tipo" name="tipo">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Numero de parcelas" [(ngModel)]= "formaPagamento.numeroParcelas" name="numeroParcelas">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Dias entre as parcelas" [(ngModel)]= "formaPagamento.diasEntreParcelas" name="diasEntreParcelas">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Permitir troco ?" [(ngModel)]= "formaPagamento.permiteTroco" name="permiteTroco">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Taxa percentual" [(ngModel)]= "formaPagamento.taxa_percentual" name="taxa_percentual">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Ativo ?" [(ngModel)]= "formaPagamento.ativo" name="ativo">
        </mat-form-field>

    </form>

    <button mat-raised-button (click)="createFormaPagamento()">
        Salvar
    </button>
   
    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>

</mat-card>

