<mat-card>
    <mat-card-title>Novo Produto</mat-card-title>
    <form>
      <mat-form-field>
        <input matInput placeholder="Nome" [(ngModel)]="produto.proNome" name="proNome">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Descrição" [(ngModel)]="produto.proDescricao" name="proDescricao">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Código de Barras" [(ngModel)]="produto.proCodigo_barras" name="proCodigo_barras">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Referência" [(ngModel)]="produto.proReferencia" name="proReferencia">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Unidade de Medida" [(ngModel)]="produto.proUnidade_medida" name="proUnidade_medida">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Marca" [(ngModel)]="produto.proMarca" name="proMarca">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Categoria" [(ngModel)]="produto.proCategoria" name="proCategoria">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Preço de Custo" [(ngModel)]="produto.proPreco_custo" name="proPreco_custo">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Preço de Venda" [(ngModel)]="produto.proPreco_venda" name="proPreco_venda">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Estoque Atual" [(ngModel)]="produto.proEstoque_atual" name="proEstoque_atual">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Estoque Mínimo" [(ngModel)]="produto.proEstoque_minimo" name="proEstoque_minimo">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Estoque Máximo" [(ngModel)]="produto.proEstoque_maximo" name="proEstoque_maximo">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Localização" [(ngModel)]="produto.proLocalizacao" name="proLocalizacao">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Data de Validade" [(ngModel)]="produto.proData_validade" name="proData_validade">
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Fornecedor" [(ngModel)]="produto.proFornecedor_id" name="proFornecedor_id">
          <mat-option *ngFor="let proFornecedor_id of fornecedor" [value]="proFornecedor_id">
            {{ proFornecedor_id.proNomeFantasia }} - {{ proFornecedor_id.proRazaoSocial }}
          </mat-option>
        </mat-select>
      </mat-form-field>      
      <mat-form-field>
        <input matInput placeholder="Ativo?" [(ngModel)]="produto.proAtivo" name="proAtivo">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Data de Cadastro" [(ngModel)]="produto.proData_cadastro" name="proData_cadastro">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Observações" [(ngModel)]="produto.proObservacoes" name="proObservacoes">
      </mat-form-field>
    </form>
  
    <button mat-raised-button (click)="createProduto()" color="primary">
      Salvar
    </button>
  
    <button mat-raised-button (click)="cancel()">
      Cancelar
    </button>
  </mat-card>
  