<mat-card>
    <mat-card-title>Novo Cliente</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome do Cliente" [(ngModel)]="cliente.CliNome" name="CliNome">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="CPF" [(ngModel)]="cliente.CliCpf" name="CliCpf">
        </mat-form-field>
     
    </form>

    <button mat-raised-button (click)="createCliente()" color="primary">
        Salvar
    </button>
   
    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>

</mat-card>